header {
  padding-top: var(--edge);
  margin-bottom: var(--spacing);
  padding-left: var(--edge);
  padding-right: var(--edge);
  background-color: var(--maroon);
}

header img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

header h1 {
  color: var(--gold);
  font-size: 60px;
  font-weight: bolder;
}

nav {
  padding-bottom: 1px;
}

nav ul {
  text-align: right;
}

nav li {
  display: inline;
  margin-left: var(--edge);
}

nav li a {
  color: var(--gold);
  text-decoration: none;
  transition: background-color 1s ease, color 0.5s ease;
}

nav li a:hover, nav li a.header_link_highlight {
  color: var(--maroon);
  background-color: var(--gold);
}

.heading {
  border-bottom: 3px solid var(--maroon);
  margin-bottom: var(--edge);
}

article {
  margin-bottom: var(--spacing);
  margin-left: var(--edge);
  margin-right: var(--edge);
}

article h2 {
  display: inline;
  font-size: 40px;
  font-weight: bolder;
}

section {
  margin-bottom: var(--spacing);
  margin-left: var(--edge);
  margin-right: var(--edge);
}

section h2 {
  display: inline;
  font-size: 30px;
  font-weight: bolder;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: var(--headshot-dimension) repeat(auto-fit, minmax(var(--headshot-dimension), 1fr));
}

.about-me-image {
  width: var(--headshot-dimension);
  height: var(--headshot-dimension);
}

#portfolio .content .card {
  width: 240px;
  height: 240px;
  flex-grow: 1;
  display: block;
  background-color: var(--gold);
  text-align: center;
  border: 1px solid var(--maroon);
  border-radius: var(--border-radius);
}

#portfolio .content .card:first-child {
  height: 300px;
  width: 100%;
  flex-grow: 4;
}

#portfolio .content .card .example_main_link {
  width: 100%;
  height: 200px;
  display: block;
  background-image: url("../public/assets/images/code.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gold);
  padding-top: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#portfolio .content .card:first-child .example_main_link {
  height: 260px;
}

#portfolio .content .card:first-child .example_main_link h3 {
  font-size: 60px;
}

#portfolio .content .card .example_deployed_link {
  color: var(--maroon);
}

#portfolio .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#portfolio a{
  text-decoration: none;
}

.example-code {
  margin: var(--spacing);
}

.example-code h3 {
  font-size: 30px;
  background-color: var(--maroon);
  color: var(--gold);
  position: relative;
}

.form_warn {
  color: red;
  font-weight: bolder;
}

.contact_form_textarea {
  width: 50em;
  height: 4em;
}

.trail_space {
  margin-bottom: var(--spacing);
}

.resume_content {
  margin-bottom: 10px;
}

.resume_link a, .profile_links li a {
  color: var(--maroon);
  text-decoration: none;
  transition: background-color 1s ease, color 0.5s ease;
}

.resume_link a:hover, .profile_links li a:hover{
  background-color: var(--maroon);
  color: var(--gold);
}

footer {
  color: var(--maroon);
  background-color: var(--gold);
  text-align: center;
  padding-left: var(--edge);
  padding-right: var(--edge);
}

.profile_links {
  text-align: center;
}

.profile_links li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: var(--maroon);
}

@media screen and (max-width: 992px) {
  #portfolio .content a:first-child {
    flex-basis: 0 1 auto;
  }

  nav ul {
    font-size: 30px;
  }

  .contact_form {
    font-size: 30px;
  }

  .contact_form_input_text {
    font-size: 30px;
  }

  .contact_form_textarea {
    font-size: 30px;
    width: 100%
  }

  .contact_form_submit {
    font-size: 30px;
  }

  .profile_links li {
    display: block;
    margin: 4px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header{
    text-align: center;
  }

  nav ul, .profile_links {
    text-align: center;
  }

  nav li {
    display: block;
    margin: 4px;
    width: 100%;
  }

  .grid {
    display: block;
  }

  .about-me-image {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .contact_form_input_text {
    width: 100%;
  }
}
