:root{
  --maroon: #7A0019;
  --gold: #FFCC33;
  --edge: 10px;
  --spacing: 20px;
  --headshot-dimension: 222px;
  --border-radius: 10px;
  --form-tablet-font-size: 30px;
}

* {
  box-sizing: border-box;
}

body{
  font-family: "Courier New";
}
