:root{
  --maroon: #7A0019;
  --gold: #FFCC33;
  --edge: 10px;
  --spacing: 20px;
  --headshot-dimension: 222px;
  --border-radius: 10px;
  --form-tablet-font-size: 30px;
  --card-gradient-1: rgba(255, 144, 51, 0.40);
  --card-gradient-2: rgba(255, 144, 51, 0.80);
  --card-gradient: linear-gradient(var(--card-gradient-1), var(--card-gradient-2));
}

* {
  box-sizing: border-box;
}

body{
  font-family: "Courier New";
}
